    <!-- Section: intro -->
    <section id="intro" class="intro">
      <div class="slogan">
        <h1><strong>Welcome to Easy Discount %</strong></h1>
        <!-- Implementation of search Bar -->

 <div class="container">
  <div class="row">
    <!-- <div class="col-md-10 col-md-offset-1 well myWell" style="border-radius:5px;"> -->
      <div class="well myWell" style="border-radius:5px;">
      </div>
        <div class="row">
          <div id="searchForm" class="col-md-12">
            <%= form_tag promos_list_path, method: :get do %>

              <div class="col-md-5 search">
                <div class="form-group" id="product_search">
                  <%= text_field_tag :product, params[:product], class: "form-control", placeholder: "Search a product", id: 'prod-search' %>
                </div>
              </div>

              <div class="col-md-5 search">
                <div class="form-group" id="product_search">
                <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Enter a location", id: 'loc-search' %>
              </div>
            </div>
              <div class="col-md-2 search">
                <span class="input-group-btn">
                <%= submit_tag 'GO!', class: "btn btn-default", id: 'submit-btn' %>
                </span>
              </div>
            <% end %>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <form id="custom-search-form" class="form-search form-horizontal pull-right">
      <div class="input-append span12">
          <input type="text" class="search-query mac-style" placeholder="Search">
          <button type="submit" class="btn"><i class="icon-search"></i></button>
      </div>
  </form>
</div> -->

<div align="center">
<p><strong>Search for Promotions around you.</strong></p>
<a href="#about" class="btn btn-skin scroll">Learn more</a>
</div>

</section>
<!-- /Section: intro -->


<div class="container">
  <div class="row">
    <% @promos.each do |promo| %>

    <div class="col-md-4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">

          <%= image_tag promo.image , class: "activator"%>

        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= promo.product %><i class="fa fa-ellipsis-v repairI"></i></span>
          <br>
          <%= promo.shop %>
          <br>
          <%= promo.location %>
          <br>
          <div align="right">
           <span> <%= promo.discount %> %</span>
           <br>
           <%= promo.normal_price %>
         </div>


       </div>
       <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= promo.product %> <i class="fa fa-times repairI"></i></span>
        <br>
        <p><%= promo.description %></p>
        <h5>Contact</h5>
        <%= promo.contact %>
        <br>
        <br>
        <div align="center">
          <%= link_to 'Delete',
          promo_path(promo),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-xs btn-danger' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <br>
</div>

<%#= link_to 'New Promo', new_promo_path %>
</div>
