<h1>Listing promos Am here</h1>



<%= form_tag promos_list_path, method: :get do %>
  <div class="field">
    <%= label_tag :search, "Search" %><br>
    <%= text_field_tag :product, params[:product] %>
    <%= text_field_tag :location, params[:location] %>
  </div>
  <%= submit_tag 'Search' %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Product</th>
      <th>Shop</th>
      <th>Location</th>
      <th>Picture</th>
      <th>Discount</th>
      <th>Normal price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promos.each do |promo| %>
      <tr>
        <td><%= promo.description %></td>
        <td><%= promo.product %></td>
        <td><%= promo.shop %></td>
        <td><%= promo.location %></td>
        <td><%= promo.picture %></td>
        <td><%= promo.discount %></td>
        <td><%= promo.normal_price %></td>
        <td><%= promo.category %></td>
        <td><%= link_to 'Show', promo %></td>
        <td><%= link_to 'Edit', edit_promo_path(promo) %></td>
        <td><%= link_to 'Destroy', promo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promo', new_promo_path %>
