<div class="container">

  <div class="row">
    <% @promos.each do |promo| %>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">

          <%= image_tag(promo.picture, class: "activator")%>

        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= promo.product %><i class="mdi-navigation-more-vert right"></i></span>


          <%= promo.product %>
          <br>
          <%= promo.shop %>
          <br>
          <%= promo.location %>
          <br>
          <%= promo.discount %>
          <br>
          <%= promo.normal_price %>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= promo.product %> <i class="mdi-navigation-close right"></i></span>
          <p>Here is some more information about this product that is <%= promo.description %></p>


          <%= link_to 'Delete',
          promo_path(promo),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-xs btn-danger' %>

        </div>
      </div>
    </div>
    <% end %>

    <br>
  </div>


  <%= link_to 'New Promo', new_promo_path %>
</div>