<div class="container">

  <div class="row">
    <% @promos.each do |promo| %>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">

          <%= image_tag("box.jpg", class: "activator")%>

        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= promo.product %><i class="fa fa-ellipsis-v repairI"></i></span>
          <br>
          <%= promo.shop %>
          <br>
          <%= promo.location %>
          <br>
          <div align="right">
           <span> <%= promo.discount %> %</span>
           <br>
           <%= promo.normal_price %>
         </div>
         

       </div>
       <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= promo.product %> <i class="fa fa-times repairI"></i></span>
        <br>
        <p><%= promo.description %></p>
        <h5>Contact</h5>
        <%= promo.contact %>
        <br>
        <br>
        <div align="center">
          <%= link_to 'Delete',
          promo_path(promo),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-xs btn-danger' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <br>
</div>


<%= link_to 'New Promo', new_promo_path %>
</div>